.button {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  color: #fff;
  padding: 15px 20px;
  margin: 0;
  text-decoration: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  cursor: pointer;
}

.button--alert {
  background-color: #ff6800;
  cursor: pointer;
}

.button:focus,
.button--alert:focus {
  outline: none;
}

.button--alert:hover {
  transform: translateX(15px);
  background-color: #ff3535;
}

.cookies__button {
  color: #ff6800;
  border: 1px solid #ff6800;
  background-color: transparent;
  padding: 10px 20px;
}

.cookies__button:hover {
  background-color: #ff660023;
}